@font-face {
  font-family: "open_sansregular";
  src: url("../../assets/fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../../assets/fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/open-sans/OpenSans-Regular-webfont.woff")
      format("woff"),
    url("../../assets/fonts/open-sans/OpenSans-Regular-webfont.ttf")
      format("truetype"),
    url("../../assets/fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.app {
  font-family: "open_sansregular";
  color: aliceblue;
  background-color: rgb(24, 143, 137);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 40px;
  /* background-image: url("../../assets/images/honey.png"); */
  /* background-image: url("../../assets/images/pexels-tim-mossholder-3612932.jpg"); */
  /* background-image: url("../../assets/images/bitcoin.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;  
}
